button {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin-left: 10px;
    margin-top: 40px;
}

#cards-container {
    padding: 15px 10%;
}

.card-container {
    width: 30%;
    border: 1px solid #000;
    height: 200px;
    display: inline-block;
    margin: 15px 10px;
}

.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin-bottom: 30px;
    margin-left: 10px;
}

.game-container {
    margin-top: 30px;
    box-sizing: border-box;
}

.game-container #user-list {
    width: 35%;
    left: 5%;
    height: 450px;
    position: absolute;
}

.game-container .game-area {
    width: 59%;
    height: 450px;
    border: 2px solid #000;
    position: absolute;
    left: 40%;
}

.game-area span {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.game-area .game-area-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#user-list .user-container {
    margin: 25px 0;
}

#user-list .user-container .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    border: 0.5px solid;
    float: left;
    margin-right: 10px;
}

#user-list .user-container .status.ready {
    background-color: green;
}

#user-list .progress-bar {
    width: 80%;
    height: 5px;
    border: 1px solid;
}

#user-list .progress-bar .progress-bar-value {
    height: 100%;
    width: 0%;
    background-color: red;
}